@font-face {
  font-family: Arial;
  font-weight: 400;
  src: url("../fonts/ArialRegular.woff2") format("woff2"),
    url("../fonts/ArialRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Arial-ItalicMT.woff2") format("woff2"),
    url("../fonts/Arial-ItalicMT.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Georgia;
  src: url("../fonts/Georgia/georgia.woff2") format("woff2"),
    url("../fonts/Georgia/georgia.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Georgia;
  src: url("../fonts/Georgia/ofont.ru_Georgia.woff2") format("woff2"),
    url("../fonts/Georgia/ofont.ru_Georgia.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
