.footer {
  font-family: Georgia;
  background: url("../images/footer/bgsl.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
.footer__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  max-width: 302px;
}
.footer__title {
  padding-top: 16px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: rgba(241, 205, 179, 1);

  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__link:hover {
  transform: scale(1.05);
  color: rgba(248, 171, 201, 0.8);
  transition: 0.45s ease-in-out;
}
.footer__link-mail {
  padding-bottom: 8px;
}
.footer__places {
  max-width: 322px;
  width: 100%;
}
.footer__image {
  background-image: url("../images/footer/puppy.png");
  max-width: 300px;
  width: 100%;
  height: 310px;
}
.footer__places .footer__list {
  margin-top: -8px;
}

@media (max-width: 1000px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column-reverse; */
    padding-top: 80px;
    /* gap: 60px; */
  }
  .footer__image {
    margin-top: 65px;
  }
}
@media (max-width: 780px) {
  .footer__container {
    padding-top: 15px;
    gap: 35px;
  }
  .footer__places {
    max-width: 302px;
  }
  .footer__image {
    margin-top: 28px;
  }
}
@media (max-width: 520px) {
  .footer__container {
    padding-left: 10px;
    padding-right: 10px;
    gap: 23px;
  }
  .footer__title {
    max-width: 280px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
  }
  .footer__contacts .footer__list a {
    text-align: center;
    justify-content: center;
  }
  .footer__places .footer__title {
    margin-left: 10px;
  }
  .footer__places .footer__list .footer__item:first-child {
    padding-bottom: 10px;
  }
  .footer__places .footer__list span {
    padding-top: 5px;
    letter-spacing: 0.06em;
    max-width: 310px;
  }
  .footer__image {
    background-size: contain;
    margin-top: 15px;
    width: 260px;
    height: 269px;
  }
}
